<section class="login">
  <section class="sectionlogin shadow p-3 mb-5 bg-white rounded">
    <section class="titleHeader">
      <h2 class="title">Register to {{ title }}</h2>
      <span class="descriptionHeaderLogin">Ingrese su información para registrarse a <strong>{{ title }}</strong> y
        poder loguearse.</span>
    </section>
    <form action="login" method="get">
      <section class="formLogin">
        <section class="formLoginAlg">
          <input class="form-control mr-sm-2 width40" type="text" placeholder="Nombre de usuario" aria-label="Nombre de usuario"
            id="UserName" name="UserName">
          <input class="form-control mr-sm-2 width40" type="password" placeholder="Password" aria-label="Password" id="Password"
            name="Password">
        </section>
        <section class="formLoginAlg top10px">
          <input class="form-control mr-sm-2 width40" type="text" placeholder="Nombre de usuario" aria-label="Nombre de usuario"
            id="ReUserName" name="ReUserName">
          <input class="form-control mr-sm-2 width40" type="password" placeholder="Password" aria-label="Password" id="RePassword"
            name="RePassword">
        </section>
        <section class="formLoginAlg top10px">
          <input class="form-control mr-sm-2 width40" type="email" placeholder="Correo electrónico" aria-label="Correo electrónico"
            id="email" name="email">
          <input class="form-control mr-sm-2 width40" type="email" placeholder="Repetir correo electrónico" aria-label="Repetir correo electrónico"
            id="Reemail" name="Reemail">
        </section>
      </section>
      <section class="moreOptions">
        <a class="nav-link" routerLink="/login">¿Ya estás registrado?</a>
      </section>
      <button class="btn btn-Login" type="submit">Register</button>
    </form>
  </section>
</section>