.champs {
    margin: 2% 2% 0 2%;
}
.champion{
    width: 64px;
    height: 64px;
    margin-top: 27px;
    /* display: inline-flex; */
}
.sectionChampAndHistory {
    background-color: gainsboro !important;
    /* background-image: url('http://static.lolskill.net/img/skins/tablerow/Aatrox_0.jpg'); */
}


/* InicioBGChampions */
.aatrox{
    background-image: url('http://static.lolskill.net/img/champions/64/aatrox.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.ahri{
    background-image: url('http://static.lolskill.net/img/champions/64/ahri.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.akali{
    background-image: url('http://static.lolskill.net/img/champions/64/akali.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.alistar{
    background-image: url('http://static.lolskill.net/img/champions/64/alistar.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.amumu{
    background-image: url('http://static.lolskill.net/img/champions/64/amumu.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.anivia{
    background-image: url('http://static.lolskill.net/img/champions/64/anivia.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.annie{
    background-image: url('http://static.lolskill.net/img/champions/64/annie.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.ashe{ 
    background-image: url('http://static.lolskill.net/img/champions/64/ashe.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.aurelionsol{ 
    background-image: url('http://static.lolskill.net/img/champions/64/aurelionsol.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.azir{ 
    background-image: url('http://static.lolskill.net/img/champions/64/azir.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.brand{ 
    background-image: url('http://static.lolskill.net/img/champions/64/brand.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.braum{ 
    background-image: url('http://static.lolskill.net/img/champions/64/braum.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.caitlyn{ 
    background-image: url('http://static.lolskill.net/img/champions/64/caitlyn.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.camile{ 
    background-image: url('http://static.lolskill.net/img/champions/64/camille.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.cassiopeia{ 
    background-image: url('http://static.lolskill.net/img/champions/64/cassiopeia.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.chogath{
    background-image: url('http://static.lolskill.net/img/champions/64/chogath.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.corki{
    background-image: url('http://static.lolskill.net/img/champions/64/corki.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.darius{ 
    background-image: url('http://static.lolskill.net/img/champions/64/darius.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.diana{ 
    background-image: url('http://static.lolskill.net/img/champions/64/diana.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.drmundo{
    background-image: url('http://static.lolskill.net/img/champions/64/drmundo.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.draven{ 
    background-image: url('http://static.lolskill.net/img/champions/64/draven.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.ekko{ 
    background-image: url('http://static.lolskill.net/img/champions/64/ekko.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.elise{ 
    background-image: url('http://static.lolskill.net/img/champions/64/elise.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.evelynn{
    background-image: url('http://static.lolskill.net/img/champions/64/evelynn.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.ezreal{ 
    background-image: url('http://static.lolskill.net/img/champions/64/ezreal.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.fiddlesticks{
    background-image: url('http://static.lolskill.net/img/champions/64/fiddlesticks.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.fiora{
    background-image: url('http://static.lolskill.net/img/champions/64/fiora.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.fizz{ 
    background-image: url('http://static.lolskill.net/img/champions/64/fizz.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.galio{
    background-image: url('http://static.lolskill.net/img/champions/64/galio.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.gangplank{
    background-image: url('http://static.lolskill.net/img/champions/64/gangplank.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.garen{ 
    background-image: url('http://static.lolskill.net/img/champions/64/garen.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.gnar{ 
    background-image: url('http://static.lolskill.net/img/champions/64/gnar.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.gragas{ 
    background-image: url('http://static.lolskill.net/img/champions/64/gragas.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.graves{ 
    background-image: url('http://static.lolskill.net/img/champions/64/graves.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.hecarim{ 
    background-image: url('http://static.lolskill.net/img/champions/64/hecarim.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.heimerdinger{ 
    background-image: url('http://static.lolskill.net/img/champions/64/heimerdinger.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.illaoi{
    background-image: url('http://static.lolskill.net/img/champions/64/illaoi.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.irelia{ 
    background-image: url('http://static.lolskill.net/img/champions/64/irelia.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.ivern{ 
    background-image: url('http://static.lolskill.net/img/champions/64/ivern.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.janna{ 
    background-image: url('http://static.lolskill.net/img/champions/64/janna.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.jarvaniv{ 
    background-image: url('http://static.lolskill.net/img/champions/64/jarvaniv.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.jax{ 
    background-image: url('http://static.lolskill.net/img/champions/64/jax.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.jayce{ 
    background-image: url('http://static.lolskill.net/img/champions/64/jayce.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.jhin{ 
    background-image: url('http://static.lolskill.net/img/champions/64/jhin.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.jinx{ 
    background-image: url('http://static.lolskill.net/img/champions/64/jinx.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.kaisa{ 
    background-image: url('http://static.lolskill.net/img/champions/64/kaisa.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.kalista{
    background-image: url('http://static.lolskill.net/img/champions/64/kalista.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.karma{ 
    background-image: url('http://static.lolskill.net/img/champions/64/karma.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.karthus{
    background-image: url('http://static.lolskill.net/img/champions/64/karthus.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.kassadin{ 
    background-image: url('http://static.lolskill.net/img/champions/64/kassadin.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.katarina{
    background-image: url('http://static.lolskill.net/img/champions/64/katarina.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.kayle{ 
    background-image: url('http://static.lolskill.net/img/champions/64/kayle.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.kayn{ 
    background-image: url('http://static.lolskill.net/img/champions/64/kayn.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.kennen{ 
    background-image: url('http://static.lolskill.net/img/champions/64/kennen.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.khazix{
    background-image: url('http://static.lolskill.net/img/champions/64/khazix.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.kindred{
    background-image: url('http://static.lolskill.net/img/champions/64/kindred.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.kled{ 
    background-image: url('http://static.lolskill.net/img/champions/64/kled.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.kogmaw{ 
    background-image: url('http://static.lolskill.net/img/champions/64/kogmaw.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.leblanc{
    background-image: url('http://static.lolskill.net/img/champions/64/leblanc.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.leesin{ 
    background-image: url('http://static.lolskill.net/img/champions/64/leesin.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.leona{ 
    background-image: url('http://static.lolskill.net/img/champions/64/leona.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.lissandra{ 
    background-image: url('http://static.lolskill.net/img/champions/64/lissandra.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.lucian{ 
    background-image: url('http://static.lolskill.net/img/champions/64/lucian.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.lulu{ 
    background-image: url('http://static.lolskill.net/img/champions/64/lulu.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.lux{ 
    background-image: url('http://static.lolskill.net/img/champions/64/lux.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.malphite{ 
    background-image: url('http://static.lolskill.net/img/champions/64/malphite.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.malzahar{ 
    background-image: url('http://static.lolskill.net/img/champions/64/malzahar.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.maokai{ 
    background-image: url('http://static.lolskill.net/img/champions/64/maokai.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.masteryi{ 
    background-image: url('http://static.lolskill.net/img/champions/64/masteryi.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.missfortune{ 
    background-image: url('http://static.lolskill.net/img/champions/64/missfortune.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.mordekaiser{ 
    background-image: url('http://static.lolskill.net/img/champions/64/mordekaiser.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.morgana{
    background-image: url('http://static.lolskill.net/img/champions/64/morgana.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.nami{
    background-image: url('http://static.lolskill.net/img/champions/64/nami.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.nasus{ 
    background-image: url('http://static.lolskill.net/img/champions/64/nasus.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.nautilus{ 
    background-image: url('http://static.lolskill.net/img/champions/64/nautilus.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.nidalee{ 
    background-image: url('http://static.lolskill.net/img/champions/64/nidalee.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.nocturne{ 
    background-image: url('http://static.lolskill.net/img/champions/64/nocturne.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.nunu{
    background-image: url('http://static.lolskill.net/img/champions/64/nunu.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.olaf{ 
    background-image: url('http://static.lolskill.net/img/champions/64/olaf.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.oriana{
    background-image: url('http://static.lolskill.net/img/champions/64/orianna.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.ornn{ 
    background-image: url('http://static.lolskill.net/img/champions/64/ornn.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.pantheon{ 
    background-image: url('http://static.lolskill.net/img/champions/64/pantheon.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.poppy{ 
    background-image: url('http://static.lolskill.net/img/champions/64/poppy.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.pyke{ 
    background-image: url('http://static.lolskill.net/img/champions/64/pyke.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.quinn{ 
    background-image: url('http://static.lolskill.net/img/champions/64/quinn.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.rakan{ 
    background-image: url('http://static.lolskill.net/img/champions/64/rakan.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.rammus{ 
    background-image: url('http://static.lolskill.net/img/champions/64/rammus.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.reksay{
    background-image: url('http://static.lolskill.net/img/champions/64/reksai.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.renekton{ 
    background-image: url('http://static.lolskill.net/img/champions/64/renekton.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.rengar{ 
    background-image: url('http://static.lolskill.net/img/champions/64/rengar.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.riven{ 
    background-image: url('http://static.lolskill.net/img/champions/64/riven.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.rumble{ 
    background-image: url('http://static.lolskill.net/img/champions/64/rumble.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.ryze{
    background-image: url('http://static.lolskill.net/img/champions/64/ryze.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.sejuani{ 
    background-image: url('http://static.lolskill.net/img/champions/64/sejuani.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.shaco{ 
    background-image: url('http://static.lolskill.net/img/champions/64/shaco.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.shen{ 
    background-image: url('http://static.lolskill.net/img/champions/64/shen.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.shyvana{ 
    background-image: url('http://static.lolskill.net/img/champions/64/shyvana.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.singed{ 
    background-image: url('http://static.lolskill.net/img/champions/64/singed.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.sion{ 
    background-image: url('http://static.lolskill.net/img/champions/64/sion.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.sivir{
    background-image: url('http://static.lolskill.net/img/champions/64/sivir.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.skarner{
    background-image: url('http://static.lolskill.net/img/champions/64/skarner.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.sona{
    background-image: url('http://static.lolskill.net/img/champions/64/sona.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
.soraka{ 
    background-image: url('http://static.lolskill.net/img/champions/64/soraka.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.swain{ 
    background-image: url('http://static.lolskill.net/img/champions/64/swain.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.syndra{ 
    background-image: url('http://static.lolskill.net/img/champions/64/syndra.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.tahmkench{ 
    background-image: url('http://static.lolskill.net/img/champions/64/tahmkench.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.taliyah{ 
    background-image: url('http://static.lolskill.net/img/champions/64/taliyah.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.talon{ 
    background-image: url('http://static.lolskill.net/img/champions/64/talon.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.taric{ 
    background-image: url('http://static.lolskill.net/img/champions/64/taric.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.teemo{ 
    background-image: url('http://static.lolskill.net/img/champions/64/teemo.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.thresh{ 
    background-image: url('http://static.lolskill.net/img/champions/64/thresh.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.tristana{ 
    background-image: url('http://static.lolskill.net/img/champions/64/tristana.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.trundle{ 
    background-image: url('http://static.lolskill.net/img/champions/64/trundle.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.tryndamere{ 
    background-image: url('http://static.lolskill.net/img/champions/64/tryndamere.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.twistedfate{ 
    background-image: url('http://static.lolskill.net/img/champions/64/twistedfate.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.twitch{ 
    background-image: url('http://static.lolskill.net/img/champions/64/twitch.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.udyr{ 
    background-image: url('http://static.lolskill.net/img/champions/64/udyr.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.urgot{ 
    background-image: url('http://static.lolskill.net/img/champions/64/urgot.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.varus{ 
    background-image: url('http://static.lolskill.net/img/champions/64/varus.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.vayne{ 
    background-image: url('http://static.lolskill.net/img/champions/64/vayne.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.veigar{ 
    background-image: url('http://static.lolskill.net/img/champions/64/veigar.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.velkoz{ 
    background-image: url('http://static.lolskill.net/img/champions/64/velkoz.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.vi{ 
    background-image: url('http://static.lolskill.net/img/champions/64/vi.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.viktor{ 
    background-image: url('http://static.lolskill.net/img/champions/64/viktor.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.vladimir{ 
    background-image: url('http://static.lolskill.net/img/champions/64/vladimir.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.volibear{ 
    background-image: url('http://static.lolskill.net/img/champions/64/volibear.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.warwick{ 
    background-image: url('http://static.lolskill.net/img/champions/64/warwick.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.wukong{ 
    background-image: url('http://static.lolskill.net/img/champions/64/wukong.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.xayah{ 
    background-image: url('http://static.lolskill.net/img/champions/64/xayah.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.xerath{ 
    background-image: url('http://static.lolskill.net/img/champions/64/xerath.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.xinzhao{ 
    background-image: url('http://static.lolskill.net/img/champions/64/xinzhao.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.yasuo{ 
    background-image: url('http://static.lolskill.net/img/champions/64/yasuo.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.yoric{ 
    background-image: url('http://static.lolskill.net/img/champions/64/yorick.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.zac{ 
    background-image: url('http://static.lolskill.net/img/champions/64/zac.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.zed{ 
    background-image: url('http://static.lolskill.net/img/champions/64/zed.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.ziggs{ 
    background-image: url('http://static.lolskill.net/img/champions/64/ziggs.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.zilean{ 
    background-image: url('http://static.lolskill.net/img/champions/64/zilean.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.zoe{ 
    background-image: url('http://static.lolskill.net/img/champions/64/zoe.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.zyra{ 
    background-image: url('http://static.lolskill.net/img/champions/64/zyra.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
/* FinBGChampions */