<section class="forgot">
  <section class="sectionForgot shadow p-3 mb-5 bg-white rounded">
    <section class="titleHeader">
      <h2 class="title">Recuperar contraseña de {{ title }}</h2>
      <span class="descriptionHeaderForgot">Ingrese su información para recuperar su contraseña de <strong>{{ title }}</strong> y
        poder loguearse más tarde.</span>
    </section>
    <form action="login" method="get">
      <section class="formForgot">
        <section class="formForgotAlg top10px">
          <input class="form-control mr-sm-2 width40" type="email" placeholder="Correo electrónico" aria-label="Correo electrónico"
            id="email" name="email">
        </section>
      </section>
      <section class="moreOptions">
        <a class="nav-link" routerLink="/login">¿Ya estás registrado?</a>
      </section>
      <button class="btn btn-Forgot" type="submit">Recuperar contraseña</button>
    </form>
  </section>
</section>