.campMaestry {
    /* background-image: url('http://static.lolskill.net/img/champions/64/ashe.png'); */
    background-position: 2px 0;
    background-repeat: no-repeat;
    background-size: 68px;
}
.sectionChampionMaestry {
    width: 93%;
    left: 3%;
    display: block;
    position: relative;
    margin-top: 1%;
    /* height: 100vh; */
}
.champMaestryProfile {
    display: inline-flex;
}

.vayne {
    background-image: url('http://static.lolskill.net/img/champions/64/vayne.png')
}
.ashe {
    background-image: url('http://static.lolskill.net/img/champions/64/ashe.png');
}