// Importación de hoja de estilos CSS para campeones
@import url("../../../../assets/estilosBGChamps/champs.scss");

.championsMaestry {
    .shampionsPlayer {
        .sectionChampionMaestry {
            width: 93%;
            left: 3%;
            display: block;
            position: relative;
            margin-top: 1%;
            /* height: 100vh; */
            .champMaestryProfile {
                display: inline-flex;
                width: 100%;
                flex-wrap: wrap!important;
                justify-content: center!important;
                .campMaestry {
                    /* background-image: url('http://static.lolskill.net/img/champions/64/ashe.png'); */
                    background-position: 2px 0;
                    background-repeat: no-repeat;
                    background-size: 68px;
                    margin: 11px 26px 18px 0;
                    .PC {
                        text-align: center;
                    }
                }
            }
        }
    }
}