<section class="championsMaestry">
  <section class="shampionsPlayer">
    <section class="sectionChampionMaestry shadow p-3 mb-5 bg-white rounded">
      <section class="champMaestryProfile">
        <section class="campMaestry {{ championClassBG }}">
          <img src="{{ marcoMaestry }}" class="imgMarco">
          <img src="{{ championMaestry }}" class="imgChamp">
        </section>
        <section class="campMaestry {{ ashe }}">
          <img src="{{ marcoMaestry }}" class="imgMarco">
          <img src="{{ championMaestry }}" class="imgChamp">
        </section>
      </section>
    </section>
  </section>
</section>