.sectionlogin {
    position: relative;
    margin-top: 6%;
    left: 28%;
    width: 40%;
    height: auto;
}
.width40 {
    width: 40%;
}
.formLoginAlg {
    display: inline-flex;
    width: 100%;
}
.form-control:focus {
    border-color: none;
    box-shadow: none;
}
.title {
    text-align: center;
    font-weight: 700;
}
.descriptionHeaderLogin {
    margin-bottom: 3px;
}
.btn-Login {
    background-color: #343a40!important;
    color: #ffffff;
    position: relative;
    /* left: 87%; */
    margin-top: 3%;
}
.moreOptions {
    display: inline-flex;
}