.hrFooter {
    display: block;
    position: relative;
    top: 13px;
}
.spanFooter {
    font-weight: bold;
}
/* .footer-ggp {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 4px;
} */