<section class="sectionProfile">
  <section class="profiles">
    <section class="sectionInformationProfile">
      <span class="titleProfile">Perfil {{ nameProfile }}<br></span>
      <span class="profileLvL">Nivel: {{ lvlProfile }}</span>
      <section class="informationRank">
        <div class="league {{ classImageHTML }}">
          <p></p>
        </div>
      </section>
      <section class="division">
        <section class="divisionProfile">
          <img src="{{ classImageHTML }}">
        </section>
      </section>
    </section>
  </section>
</section>