<section class="sectionProfile">
  <section class="profiles">
    <section class="sectionInformationProfile shadow p-3 mb-5 bg-white rounded">
      <section class="faceInformation">
        <section class="profileIcon">
          <section class="borderImage {{ classMarcoImage }}">
            <img src="{{ img }}" class="profileImage">
            <span class="level tip" title="Nivel">{{ profileConsumeExample.summonerLevel }}</span>
          </section>
        </section>
      </section>
      <span class="titleProfile">{{ nameProfile }}<br></span>
      <section class="division">
        <section class="divisionProfile">
          <img src="{{ classImageHTML }}" class="imgDivision">
          <section class="windsAndLosses shadow p-3 mb-5 bg-white rounded">
            <p class="wins">Wins: {{ dataProfileSoloQ.wins }}</p>
            <p class="losses">Losses: {{ dataProfileSoloQ.losses }}</p>
          </section>
        </section>
      </section>
      <section class="flex">
        <section class="divisionFlex">
          <img class="imgFlex" src="{{ classImageHTMLFlex }} " alt="">
          <section class="windsAndLosses shadow p-3 mb-5 bg-white rounded">
            <p class="wins">Wins: {{ dataProfileFlex.wins }}</p>
            <p class="losses">Losses: {{ dataProfileFlex.losses }}</p>
          </section>
        </section>
      </section>
      <section class="sectionMmr">
        <section class="mmr">
          <button type="button" class="btn btn-dark">MMR</button>
          <button type="button" routerLink="champ/championsMaestry" class="btn btn-dark">Champions maestry</button>
        </section>
      </section>
    </section>
    <section class="sectionInformationMmr shadow p-3 mb-5 bg-white rounded">
      <section class="mmr">
        <section class="viewMmr">
          <iframe src="{{ profileMMR }}" class="iframeMmr" frameborder="0"></iframe>
        </section>
      </section>
    </section>
  </section>
</section>