.aatrox {
    background-image: url('http://static.lolskill.net/img/champions/64/aatrox.png');
}
.ahri {
    background-image: url('http://static.lolskill.net/img/champions/64/ahri.png');
}
.akali {
    background-image: url('http://static.lolskill.net/img/champions/64/akali.png');
}
.alistar {
    background-image: url('http://static.lolskill.net/img/champions/64/alistar.png');
}
.amumu {
    background-image: url('http://static.lolskill.net/img/champions/64/amumu.png');
}
.anivia {
    background-image: url('http://static.lolskill.net/img/champions/64/anivia.png');
}
.annie {
    background-image: url('http://static.lolskill.net/img/champions/64/annie.png');
}
.ashe {
    background-image: url('http://static.lolskill.net/img/champions/64/ashe.png');
}
.aurelionsol {
    background-image: url('http://static.lolskill.net/img/champions/64/aurelionsol.png');
}
.azir {
    background-image: url('http://static.lolskill.net/img/champions/64/azir.png');
}
.brand {
    background-image: url('http://static.lolskill.net/img/champions/64/brand.png');
}
.braum {
    background-image: url('http://static.lolskill.net/img/champions/64/braum.png');
}
.caitlyn {
    background-image: url('http://static.lolskill.net/img/champions/64/caitlyn.png');
}
.camile {
    background-image: url('http://static.lolskill.net/img/champions/64/camille.png');
}
.cassiopeia {
    background-image: url('http://static.lolskill.net/img/champions/64/cassiopeia.png');
}
.chogath {
    background-image: url('http://static.lolskill.net/img/champions/64/chogath.png');
}
.corki {
    background-image: url('http://static.lolskill.net/img/champions/64/corki.png');
}
.darius {
    background-image: url('http://static.lolskill.net/img/champions/64/darius.png');
}
.diana {
    background-image: url('http://static.lolskill.net/img/champions/64/diana.png');
}
.drmundo {
    background-image: url('http://static.lolskill.net/img/champions/64/drmundo.png');
}
.draven {
    background-image: url('http://static.lolskill.net/img/champions/64/draven.png');
}
.ekko {
    background-image: url('http://static.lolskill.net/img/champions/64/ekko.png');
}
.elise {
    background-image: url('http://static.lolskill.net/img/champions/64/elise.png');
}
.evelynn {
    background-image: url('http://static.lolskill.net/img/champions/64/evelynn.png');
}
.ezreal {
    background-image: url('http://static.lolskill.net/img/champions/64/ezreal.png');
}
.fiddlesticks {
    background-image: url('http://static.lolskill.net/img/champions/64/fiddlesticks.png');
}
.fiora {
    background-image: url('http://static.lolskill.net/img/champions/64/fiora.png');
}
.fizz {
    background-image: url('http://static.lolskill.net/img/champions/64/fizz.png');
}
.galio {
    background-image: url('http://static.lolskill.net/img/champions/64/galio.png');
}
.gangplank {
    background-image: url('http://static.lolskill.net/img/champions/64/gangplank.png');
}
.garen {
    background-image: url('http://static.lolskill.net/img/champions/64/garen.png');
}
.gnar {
    background-image: url('http://static.lolskill.net/img/champions/64/gnar.png');
}
.gragas {
    background-image: url('http://static.lolskill.net/img/champions/64/gragas.png');
}
.graves {
    background-image: url('http://static.lolskill.net/img/champions/64/graves.png');
}
.hecarim {
    background-image: url('http://static.lolskill.net/img/champions/64/hecarim.png');
}
.heimerdinger {
    background-image: url('http://static.lolskill.net/img/champions/64/heimerdinger.png');
}
.illaoi {
    background-image: url('http://static.lolskill.net/img/champions/64/illaoi.png');
}
.irelia {
    background-image: url('http://static.lolskill.net/img/champions/64/irelia.png');
}
.ivern {
    background-image: url('http://static.lolskill.net/img/champions/64/ivern.png');
}
.janna {
    background-image: url('http://static.lolskill.net/img/champions/64/janna.png');
}
.jarvaniv {
    background-image: url('http://static.lolskill.net/img/champions/64/jarvaniv.png');
}
.jax {
    background-image: url('http://static.lolskill.net/img/champions/64/jax.png');
}
.jayce {
    background-image: url('http://static.lolskill.net/img/champions/64/jayce.png');
}
.jhin {
    background-image: url('http://static.lolskill.net/img/champions/64/jhin.png');
}
.jinx {
    background-image: url('http://static.lolskill.net/img/champions/64/jinx.png');
}
.kaisa {
    background-image: url('http://static.lolskill.net/img/champions/64/kaisa.png');
}
.kalista {
    background-image: url('http://static.lolskill.net/img/champions/64/kalista.png');
}
.karma {
    background-image: url('http://static.lolskill.net/img/champions/64/karma.png');
}
.karthus {
    background-image: url('http://static.lolskill.net/img/champions/64/karthus.png');
}
.kassadin {
    background-image: url('http://static.lolskill.net/img/champions/64/kassadin.png');
}
.katarina {
    background-image: url('http://static.lolskill.net/img/champions/64/katarina.png');
}
.kayle {
    background-image: url('http://static.lolskill.net/img/champions/64/kayle.png');
}
.kayn {
    background-image: url('http://static.lolskill.net/img/champions/64/kayn.png');
}
.kennen {
    background-image: url('http://static.lolskill.net/img/champions/64/kennen.png');
}
.khazix {
    background-image: url('http://static.lolskill.net/img/champions/64/khazix.png');
}
.kindred {
    background-image: url('http://static.lolskill.net/img/champions/64/kindred.png');
}
.kled {
    background-image: url('http://static.lolskill.net/img/champions/64/kled.png');
}
.kogmaw {
    background-image: url('http://static.lolskill.net/img/champions/64/kogmaw.png');
}
.leblanc {
    background-image: url('http://static.lolskill.net/img/champions/64/leblanc.png');
}
.leesin {
    background-image: url('http://static.lolskill.net/img/champions/64/leesin.png');
}
.leona {
    background-image: url('http://static.lolskill.net/img/champions/64/leona.png');
}
.lissandra {
    background-image: url('http://static.lolskill.net/img/champions/64/lissandra.png');
}
.lucian {
    background-image: url('http://static.lolskill.net/img/champions/64/lucian.png');
}
.lulu {
    background-image: url('http://static.lolskill.net/img/champions/64/lulu.png');
}
.lux {
    background-image: url('http://static.lolskill.net/img/champions/64/lux.png');
}
.malphite {
    background-image: url('http://static.lolskill.net/img/champions/64/malphite.png');
}
.malzahar {
    background-image: url('http://static.lolskill.net/img/champions/64/malzahar.png');
}
.maokai {
    background-image: url('http://static.lolskill.net/img/champions/64/maokai.png');
}
.masteryi {
    background-image: url('http://static.lolskill.net/img/champions/64/masteryi.png');
}
.missfortune {
    background-image: url('http://static.lolskill.net/img/champions/64/missfortune.png');
}
.mordekaiser {
    background-image: url('http://static.lolskill.net/img/champions/64/mordekaiser.png');
}
.morgana {
    background-image: url('http://static.lolskill.net/img/champions/64/morgana.png');
}
.nami {
    background-image: url('http://static.lolskill.net/img/champions/64/nami.png');
}
.nasus {
    background-image: url('http://static.lolskill.net/img/champions/64/nasus.png');
}
.nautilus {
    background-image: url('http://static.lolskill.net/img/champions/64/nautilus.png');
}
.nidalee {
    background-image: url('http://static.lolskill.net/img/champions/64/nidalee.png');
}
.nocturne {
    background-image: url('http://static.lolskill.net/img/champions/64/nocturne.png');
}
.nunu {
    background-image: url('http://static.lolskill.net/img/champions/64/nunu.png');
}
.olaf {
    background-image: url('http://static.lolskill.net/img/champions/64/olaf.png');
}
.oriana {
    background-image: url('http://static.lolskill.net/img/champions/64/orianna.png');
}
.ornn {
    background-image: url('http://static.lolskill.net/img/champions/64/ornn.png');
}
.pantheon {
    background-image: url('http://static.lolskill.net/img/champions/64/pantheon.png');
}
.poppy {
    background-image: url('http://static.lolskill.net/img/champions/64/poppy.png');
}
.pyke {
    background-image: url('http://static.lolskill.net/img/champions/64/pyke.png');
}
.quinn {
    background-image: url('http://static.lolskill.net/img/champions/64/quinn.png');
}
.rakan {
    background-image: url('http://static.lolskill.net/img/champions/64/rakan.png');
}
.rammus {
    background-image: url('http://static.lolskill.net/img/champions/64/rammus.png');
}
.reksay {
    background-image: url('http://static.lolskill.net/img/champions/64/reksai.png');
}
.renekton {
    background-image: url('http://static.lolskill.net/img/champions/64/renekton.png');
}
.rengar {
    background-image: url('http://static.lolskill.net/img/champions/64/rengar.png');
}
.riven {
    background-image: url('http://static.lolskill.net/img/champions/64/riven.png');
}
.rumble {
    background-image: url('http://static.lolskill.net/img/champions/64/rumble.png');
}
.ryze {
    background-image: url('http://static.lolskill.net/img/champions/64/ryze.png');
}
.sejuani {
    background-image: url('http://static.lolskill.net/img/champions/64/sejuani.png');
}
.shaco {
    background-image: url('http://static.lolskill.net/img/champions/64/shaco.png');
}
.shen {
    background-image: url('http://static.lolskill.net/img/champions/64/shen.png');
}
.shyvana {
    background-image: url('http://static.lolskill.net/img/champions/64/shyvana.png');
}
.singed {
    background-image: url('http://static.lolskill.net/img/champions/64/singed.png');
}
.sion {
    background-image: url('http://static.lolskill.net/img/champions/64/sion.png');
}
.sivir {
    background-image: url('http://static.lolskill.net/img/champions/64/sivir.png');
}
.skarner {
    background-image: url('http://static.lolskill.net/img/champions/64/skarner.png');
}
.sona {
    background-image: url('http://static.lolskill.net/img/champions/64/sona.png');
}
.soraka {
    background-image: url('http://static.lolskill.net/img/champions/64/soraka.png');
}
.swain {
    background-image: url('http://static.lolskill.net/img/champions/64/swain.png');
}
.syndra {
    background-image: url('http://static.lolskill.net/img/champions/64/syndra.png');
}
.tahmkench {
    background-image: url('http://static.lolskill.net/img/champions/64/tahmkench.png');
}
.taliyah {
    background-image: url('http://static.lolskill.net/img/champions/64/taliyah.png');
}
.talon {
    background-image: url('http://static.lolskill.net/img/champions/64/talon.png');
}
.taric {
    background-image: url('http://static.lolskill.net/img/champions/64/taric.png');
}
.teemo {
    background-image: url('http://static.lolskill.net/img/champions/64/teemo.png');
}
.thresh {
    background-image: url('http://static.lolskill.net/img/champions/64/thresh.png');
}
.tristana {
    background-image: url('http://static.lolskill.net/img/champions/64/tristana.png');
}
.trundle {
    background-image: url('http://static.lolskill.net/img/champions/64/trundle.png');
}
.tryndamere {
    background-image: url('http://static.lolskill.net/img/champions/64/tryndamere.png');
}
.twistedfate {
    background-image: url('http://static.lolskill.net/img/champions/64/twistedfate.png');
}
.twitch {
    background-image: url('http://static.lolskill.net/img/champions/64/twitch.png');
}
.udyr {
    background-image: url('http://static.lolskill.net/img/champions/64/udyr.png');
}
.urgot {
    background-image: url('http://static.lolskill.net/img/champions/64/urgot.png');
}
.varus {
    background-image: url('http://static.lolskill.net/img/champions/64/varus.png');
}
.vayne {
    background-image: url('http://static.lolskill.net/img/champions/64/vayne.png');
}
.veigar {
    background-image: url('http://static.lolskill.net/img/champions/64/veigar.png');
}
.velkoz {
    background-image: url('http://static.lolskill.net/img/champions/64/velkoz.png');
}
.vi {
    background-image: url('http://static.lolskill.net/img/champions/64/vi.png');
}
.viktor {
    background-image: url('http://static.lolskill.net/img/champions/64/viktor.png');
}
.vladimir {
    background-image: url('http://static.lolskill.net/img/champions/64/vladimir.png');
}
.volibear {
    background-image: url('http://static.lolskill.net/img/champions/64/volibear.png');
}
.warwick {
    background-image: url('http://static.lolskill.net/img/champions/64/warwick.png');
}
.wukong {
    background-image: url('http://static.lolskill.net/img/champions/64/wukong.png');
}
.xayah {
    background-image: url('http://static.lolskill.net/img/champions/64/xayah.png');
}
.xerath {
    background-image: url('http://static.lolskill.net/img/champions/64/xerath.png');
}
.xinzhao {
    background-image: url('http://static.lolskill.net/img/champions/64/xinzhao.png');
}
.yasuo {
    background-image: url('http://static.lolskill.net/img/champions/64/yasuo.png');
}
.yoric {
    background-image: url('http://static.lolskill.net/img/champions/64/yorick.png');
}
.zac {
    background-image: url('http://static.lolskill.net/img/champions/64/zac.png');
}
.zed {
    background-image: url('http://static.lolskill.net/img/champions/64/zed.png');
}
.ziggs {
    background-image: url('http://static.lolskill.net/img/champions/64/ziggs.png');
}
.zilean {
    background-image: url('http://static.lolskill.net/img/champions/64/zilean.png');
}
.zoe {
    background-image: url('http://static.lolskill.net/img/champions/64/zoe.png');
}
.zyra {
    background-image: url('http://static.lolskill.net/img/champions/64/zyra.png');
}
.neeko {
    background-image: url('http://static.lolskill.net/img/champions/64/neeko.png');
}