/*  
    ####        ####    #####         #### 
  ##   ##     ##   ##   ##   ##     ##   ##
 ##          ##         ##    ##   ##     ## 
##          ##          ##   ##   ##      ## 
##  #####   ##  #####   #####     ##      ##
 ##   ##     ##   ##    ##         ##    ##
   ####        ####     ##           ####  
*/
.passiveAatrox {
    background-image: url("//static.lolskill.net/img/abilities/64/Aatrox_Passive.AatroxUpdate.png");
}
.aatroxQ {
    background-image: url("//static.lolskill.net/img/abilities/64/AatroxQ.png");
}
.aatroxW {
    background-image: url("//static.lolskill.net/img/abilities/64/AatroxW.png");
}
.aatroxE {
    background-image: url("//static.lolskill.net/img/abilities/64/AatroxE.png");
}
.aatroxR {
    background-image: url("//static.lolskill.net/img/abilities/64/AatroxR.png");
}
.passiveAhri {
    background-image: url("//static.lolskill.net/img/abilities/64/Aatrox_Passive.AatroxUpdate.png");
}
.ahriQ {
    background-image: url("//static.lolskill.net/img/abilities/64/AhriQ.png");
}
.ahriW {
    background-image: url("//static.lolskill.net/img/abilities/64/AhriW.png");
}
.ahriE {
    background-image: url("//static.lolskill.net/img/abilities/64/AhriE.png");
}
.ahriR {
    background-image: url("//static.lolskill.net/img/abilities/64/AhriR.png");
}