<nav id="navbarNav" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">GGP0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle cursorPoint" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Champions</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/champ/champions">Champions</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/champ/historyChampions">History Champions</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/champ/profileChampions">profile Champions</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profilelol">ProfileLoL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search summoner" aria-label="Search" id="searchSummoner" [(ngModel)]="searchSummoner" name="searchSummoner" (keyup.enter)="searchSummonerName()">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchSummonerName()" type="submit">Search</button>
    </form>
  </div>
</nav>